<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= text.siteSEODescription %>">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png" />

  <title><%= text.siteSEOTitle %></title>

  <link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/public/vendor/icons/font/bootstrap-icons.css" />
  <link rel='stylesheet' href="/public/css/style.css" />
</head>

<body>
  <div id="app" class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg fixed-top bg-dark" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand" href="#"><%= text.siteTitle %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#portfolios">Portfolios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <section id="home" class="home scrollspy">
      <div id="main-carousel" class="carousel slide" data-bs-ride="false">
        <% if (carousels.length <= 0){ %>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/public/img/slider/1.jpg" class="d-block" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark">
              <h5>Slide Label 1</h5>
              <p>Slide description 1.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/public/img/slider/2.jpg" class="d-block" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark">
              <h5>Slide Label 2</h5>
              <p>Slide description 2.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/public/img/slider/3.jpg" class="d-block" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark">
              <h5>Slide Label 3</h5>
              <p>Slide description 3.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        <% } else { %>

        <div class="carousel-indicators">
          <% carousels.forEach((item, index)=> { %>
          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="<%= index %>" <% if( index === 0) { %> class="active" <% } %> aria-current="true" aria-label="<%= item.title %>">
          </button>
          <% }); %>
        </div>

        <div class="carousel-inner">
          <% carousels.forEach((item, index)=> { %>
          <div <% if( index === 0) { %> class="carousel-item active" <% } else { %> class="carousel-item" <% } %>>
            <img src="/<%= item.path %>" class="d-block" alt="...">
            <div class="carousel-caption d-none d-md-block bg-dark">
              <h5><%= item.title %></h5>
              <p><%= item.description %></p>
            </div>
          </div>
          <% }); %>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#main-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
    </section>

    <section id="about" class="about scrollspy text-bg-dark px-0 pt-5 pb-5">
      <div class="container">
        <h1 class="center">About Us</h1>
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h3 class="pb-2"><%= text.aboutSubHeading %></h3>
            <blockquote><%= text.aboutSubText %></blockquote>
          </div>
          <div class="col-md-6 col-sm-12">
            <h3 class="pb-2">Skills</h3>

            <% skills.forEach((item, index)=> { %>
            <h5><%= item.title %></h5>
            <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="<%= item.level %>" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped bg-dark" style="width: <%= item.level %>%"></div>
            </div>
            <hr>
            <% }); %>
          </div>
        </div>
      </div>
    </section>

    <section id="services" class="services orange lighten-3 scrollspy pt-5 pb-5">
      <div class="container">
        <h1 class="center">Services</h1>
        <hr>
        <div class="row d-flex justify-content-center">
          <% services.forEach((item, index)=> { %>
          <div class="col-md-4 col-sm-12">
            <div class="card-panel center">
              <div class="text-center">
                <%- item.svg %>
              </div>
              <hr>
              <h5 class="text-center"><%= item.title %></h5>
              <p><%= item.description %></p>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </section>

    <section id="portfolios" class="portfolios scrollspy text-bg-dark pt-5 pb-5">
      <div class="container">
        <h1 class="center">Portfolios</h1>
        <hr>
        <div class="row d-flex justify-content-center">
          <% portfolios.forEach((item, index)=> { %>
          <div class="col-md-4 col-sm-12 mb-2 d-flex justify-content-center text-center">
            <div class="card bg-dark" style="width: 18rem; border: none;">
              <img src="/<%= item.path %>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center bg-light pt-2 pb-2"><%= item.title %></h5>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </section>

    <section id="contact" class="contact orange lighten-3 scrollspy pt-5 pb-5">
      <div class="container">
        <h1 class="center">Contact Us</h1>
        <hr>
        <div class="row d-flex">
          <div class="col-md-4 col-sm-12 flex-grow-1 mb-2">
            <div class="card p-2" style="height: 100%;">
              <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                </svg>
              </div>
              <div style="margin-top: 60px"></div>
              <h5 class="text-center">
                <%= text.infoSubHeading %>
              </h5>
              <hr>
              <ul class="collection">
                <li class="collection-item">
                  <%= text.address %>
                </li>
                <li class="collection-item">
                  <%= text.phone %>
                </li>
                <li class="collection-item">
                  <%= text.email %>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8 col-sm-12 flex-grow-1 mb-2">
            <div class="card p-2" style="height: 100%;">
              <h5 class="text-center">
                Send Us a Message
              </h5>
              <hr>
              <form action="/send-message" method="post">
                <div class="row">
                  <div class="input-field col-md-12 col-sm-12">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" name="name" type="text" class="form-control">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col-md-12 col-sm-12">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" class="form-control">
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="input-field col-md-12 col-sm-12">
                    <label for="message" class="form-label">Message</label>
                    <textarea id="message" name="message" class="form-control" rows="3"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col-md-12 col-sm-12">
                    <button type="submit" class="btn btn-outline-dark w-100">
                      Send
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="footer text-bg-dark text-center">
      <p class="center white-text">Copyright &copy <span id="current-year">2025</span> <%= text.siteTitle %></p>
      <p><a href="/auth/login">Login</a> | <a href="/auth/register">Register</a></p>
    </footer>
  </div>
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    $(document).ready(function() {
      console.log(location.pathname)
      $(`a[href*='${location.pathname}']`).addClass("active");

      $("#current-year").text(new Date().getFullYear().toString())
    });
  </script>
</body>

</html>